# versiones compatibles con python 3.13
# ---- Ingeniería de Datos e IA (Desarrollador 1) ----
pandas
scikit-learn

# ---- Backend y API (Desarrollador 2) ----
fastapi
uvicorn[standard]
pydantic


# versiones compatibles con python 3.12
# ---- Ingeniería de Datos e IA (Desarrollador 1) ----
# pandas==2.2.2
# scikit-learn==1.5.0

# ---- Backend y API (Desarrollador 2) ----
# fastapi==0.111.0
# uvicorn[standard]==0.30.1
# pydantic==2.7.4